/*
nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
*/

p {
  font-family: "Source Sans Pro",Sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.container {
  width: 90%;
}

.brand-logo img {
  width: 250px;
  padding: 5px 0;
}



/* Name of Site */
@media only screen and (max-width: 992px) {
/*
nav .brand-logo {
    left: 32%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

nav .brand-logo {
    position: relative;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}
*/


}

/* Mobile devices */
@media only screen and (max-width: 414px) {

  .brand-logo img {
    width: 200px;
  }

  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.7rem;
  }

  h3 {
    font-size: 28px !important;
  }

  p {
    font-size: 17px;
  }

  .video-content li {
    font-size: 16px !important;
  }

  .phillies-camera-operator img {
    height: 200px !important;
    width: 200px !important;
  }

  footer {
    text-align: center;
  }

}

/* Hover over nav links */
nav ul a:hover {
  color: yellow;
  background-color: transparent;
}

nav ul a:focus {
  color: yellow;
  background-color: transparent;
}


.content {
  /* margin-top: 100px; If you use fixed navbar */
  padding-bottom:  40px; /* Without fixed navbar */
}


/* Hero Image on home page */
.hero {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(images/hero-image.jpg);
  background-size: cover;
  background-position: center;
  min-height: 500px;
}

/* Content on Hero Image */
.hero-content {
  color: #fff;
  padding-top: 100px;
}

.hero-content h1 {
  font-weight: 800;
}

.hero-content p {
  font-weight: 400;
}

.video {
  padding: 50px;
}

/* Page Title */
.title {
  color: #1B5E20;
  font-weight: bold;
}

.skills {
  text-align: center;
}

/* About Page */
@media only screen and (min-width: 993px) {
.row .col.offset-l2 {
    margin-left: 12.666667%;
}
}

.about-me-desktop .video-clip {
  padding: 40px !important;
}

.image {
  padding: 40px !important;
  text-align: right;
}

.video-content  h3 {
  font-weight: 400;
  font-size: 40px;
}

.alexa-content h3 {
  font-weight: 400;
  font-size: 40px;
}

.website-title h3 {
  font-weight: 400;
  font-size: 40px;
}

.video-content  li {
  font-size: 20px;
}

/* Images for Websites and Alexa */
.website-image {
  text-align: center;
}

.alexa-image {
  text-align: center;
}

/* Videos for mobile (Videos page) */



@media only screen and (min-width: 1025px) {

  .about-me-mobile {
    display: none;
  }

}

/* On Mobile */
@media only screen and (max-width: 1024px) {

  .about-me-desktop {
    display: none;
  }

  .video-image {
    margin: 0 auto;
    text-align: center;
  }



  .video .row {
      text-align: center;
  }

  .video-content {
    text-align: center;
  }

}

/* Video Clips on Tablets */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

  iframe {
   width: 700px;
   height: 350px;
 }

 .video-clip iframe {
  width: 700px;
  height: 400px;
}

.Videos .row .col.l4 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.phillies-camera-operator img {
  height: 400px;
  width: 400px;
}



}

@media only screen and (min-width: 415px) and (max-width: 768px) {

  iframe {
   width: 600px;
   height: 340px;
 }

 .video-clip iframe {
  width: 600px;
  height: 340px;
}

.phillies-camera-operator img {
  height: 300px;
  width: 300px;
}

}

@media only screen and (max-width: 415px) {

 .video-clip iframe {
  width: 260px;
  height: 150px;
}


}


/* Padding on Websites, Alexa Skills, and Videos */
.website, .video, .alexa {
  padding: 50px 0px !important;
}

/* Single image of website per row on iPad */
@media only screen and (max-width: 768px) {
  .website {
    width: 100% !important;
  }

}

/* Footer */

a.white-text.text-lighten-3:hover {
    color: yellow !important;
}

a.white-text.text-lighten-3:focus {
    color: yellow !important;
}

.privacy-policy a:hover {
    color: yellow !important;
}

.privacy-policy a:focus {
    color: yellow !important;
}

.font-awesome-icon {
  font-size: 32px;
}

.contact-icons li {
  display: inline;
  margin-right: 20px;
}

.social-media-icons li {
  display: inline;
  margin-right: 20px;
}

.contact-icons-mobile li {
  display: inline;
  float: left;
}

ul.contact-icons-mobile li {
   margin-right: -40px;
}

.social-media-icons-mobile li {
  display: inline;
  float: left;
}

ul.social-media-icons-mobile li {
    margin-right: -40px;
}

/* Contact Me */
.contact.contact-icons {
  text-align: center;
}

.contact.social-media-icons {
  text-align: center;
}

.icons {
  font-size: 100px;
  text-align: center;
}

.contact-me {
  color: #283593;
}

.facebook {
  color: #3b5998;
}

.linkedin {
  color: #0e76a8;
}

.instagram {
  color: #fb3958;
}

.youtube {
  color: #c4302b;
}

.tiktok {
  color: #010101;
}

/* Mobile Pop Up Nav */
.sidenav li > a:hover {
  color: blue;
  background-color: transparent;
}

.sidenav li > a:focus {
  color: blue;
  background-color: transparent;
}

/* Contact CTA Box */
.contact-cta {
  padding: 40px;
}

footer h5 {
  font-size: 1.85rem;
}

footer li {
  font-size: 16px;
}

/* Blue footer with copyright */
.footer-copyright {
  padding: 0px !important;
}

/* CTA Button */
.btn-large:hover {
  background-color: #3d9140 !important;
}
